html {
 font-size: 16px;
}
body {
  font-family: Helvetica;
}
nav div {
  display: flex;
  align-items: center;
}
ul li {
  display: inline;
  padding: 0 1rem;
  font-weight: bold;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #white;
  border-bottom: 1px solid black;
  height: 4rem;
}
.container {
  width: 1024px;
  margin: auto;
}
.container img {
  height: 3rem;
}
div span {
  font-size: 2rem;
  text-transform: uppercase;
}
nav div {
  display: flex;
  align-items: center;
}


/* Desktop Responsive */
@media only screen and (min-width: 1024px) {
  .mobile-menu {
    display: none;
  }
}