html {
 font-size: 16px;
}
body {
  font-family: Helvetica;
  margin: 0;
}
nav div {
  display: flex;
  align-items: center;
}
ul li {
  display: inline;
  padding: 0 1rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 4rem;
}
.container {
  width: 1104px;
  margin: auto;
}
.logo span {
  font-size: 2rem;
  text-transform: uppercase;
}
nav div {
  display: flex;
  align-items: center;
}
.top-container {
  display: flex;
  background-color: #c0c0c0;
}
.learn-image img {
  width: 662px;
  height: auto;
  margin: 2rem 1.5rem;
}
.learn-copy {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 40%;
  margin: 12rem 0;
}
.learn-copy h2 {
  font-size: 2rem;
  font-weight: bold;
  padding-right: 2.5rem;
  color: #4A4A4A;
}
.learn-copy h4 {
  font-size: 1rem;
  font-weight: bold;
}
.learn-copy span {
  width: 80%;
  padding: 0.5rem 0;
  background-color: #2F2E2E;
  color: white;
  text-align: center;
}
.information {
  display: flex;
}
.information-image img {
  width: 662px;
  height: auto;
  margin: 2rem 1.5rem;
}
.information-image-copy {
  margin:0 1.5rem;
  width: 662px;
}
.information-image-copy h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1.5rem;
  color: #4A4A4A;
}
.information-image p {
  padding-bottom: 2rem;
}




/* Desktop Responsive */
@media only screen and (min-width: 960px) {
  .mobile-menu {
    display: none;
  }
}